*{
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#app {
  height: 100%;
  background: white;
  color: var(--color-for-body);
}

body,
#app {
  margin: 0; 
}


::-webkit-scrollbar-track
{
  background-color: #ffffff00;
}

::-webkit-scrollbar
{
  height: 5px;
  width: 4px;
  border-radius: 25px;
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--color-primary);
  border-radius: 25px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--color-primary);
}

::selection {
  color: white;
  background: var(--color-primary);
}