.master-page {
    &.-about-me {
        >.content {
            @media (min-width: $--mq-tablet) {
                padding: 30px 50px 30px;
            }

            >.about-me {
                height: 100%;
                display: grid;
                grid-template-rows: 60px 1fr 1fr;
                grid-gap: 10px;

                @media (min-width: $--mq-tablet) {
                    display: flex;
                    justify-content: space-between;
                    flex-flow: column;
                }

                .bio-habilities {
                    font-size: calc(var(--font-size-base) + 2px);
                    line-height: calc(var(--font-size-base) + 8px);
                    padding-bottom: 15px;


                    @media (min-width: $--mq-tablet) {
                        font-size: calc(var(--font-size-base) + 4px);
                        line-height: calc(var(--font-size-base) + 15px);
                    }

                    @media (min-width: $--mq-medium-desktop) {
                        font-size: calc(var(--font-size-base) + 8px);
                        line-height: calc(var(--font-size-base) + 26px);
                    }

                    >p {
                        transition: color .5s;
                        max-width: 920px;

                        >b {
                            transition: color 2s;
                            font-weight: 600;
                        }
                    }

                    >.habilities-wrapper {
                        display: flex;
                        padding-top: 15px;
                        flex-flow: wrap;

                        >app-chart {
                            cursor: pointer;
                            margin: 3px;
                        }
                    }
                }

                .contact {
                    display: flex;
                    flex-flow: column;
                    justify-content: flex-end;
                    padding-bottom: 7px;

                    @media (min-width: $--mq-tablet) {
                        padding-bottom: 0px;
                    }

                    >.text {
                        transition: color .5s;
                        padding-bottom: 7px;
                        display: block;
                        font-size: calc(var(--font-size-base) - 2px);
                    }

                    >.links {
                        font-size: calc(var(--font-size-base) + 10px);
                        font-family: 'Playfair Display', serif;


                        @media (min-width: $--mq-tablet) {
                            font-size: calc(var(--font-size-base) + 18px);
                        }

                        >a {
                            cursor: pointer;
                            padding-right: 10px;
                            margin-right: 2px;
                            position: relative;
                            transition: color .5s;

                            @media (min-width: $--mq-tablet) {
                                padding-right: 15px;
                                margin-right: 5px;
                            }

                            &::after {
                                position: absolute;
                                right: 0;
                                height: 80%;
                                width: 1px;
                                content: "";
                                background: var(--color-primary);
                            }

                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }

                        }
                    }
                }

            }
        }
    }
}