.about-me{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;

.bio-habilities {
    font-size: calc(var(--font-size-base) + 5px);
    line-height: calc(var(--font-size-base) + 9px);
    padding-bottom: 15px;

    >p{
        >b{
            font-weight: 600;   
        }
    }

    >.habilities-wrapper {
        display: flex;
        padding-top: 15px;
        flex-flow: wrap;

        >app-chart{
            cursor: pointer;
            margin: 3px;
        }
    }
}

.contact {
    >.text {
        padding-bottom: 7px;
        display: block;
        font-size: calc(var(--font-size-base) - 2px);
    }

    >.links {
        font-size: calc(var(--font-size-base) + 12px);
        font-family: 'Playfair Display', serif;

        >a{
            padding-right: 15px;
            margin-right: 5px;
            position: relative;

            &::after{
                position: absolute;
                right: 0;
                height: 80%;
                width: 1px;
                content: "";
                background: var(--color-primary);
            }

            &:last-child{
                &::after{
                    display: none;
                }
            }
            
        }
    }
}

}