.intro {
    height: 100%;
    width: 100vw;
    z-index: 100;
    position: fixed;
    background: white;
    animation: 2s outBgIntroHome;
    opacity: 0;
    pointer-events: none;

    >.wrapper {
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        background: url(../assets/img/bg.jpg) no-repeat center center fixed;
        background-size: cover;
        animation: 2s introHome;
        opacity: 0;

        >img {
            max-width: 80vw;
            max-height: 30vh;
            margin-bottom: 20%;

            @media (min-width: $--mq-tablet) {
                max-width: 80vw;
                max-height: 300px;
                margin-bottom: 0;
            }
        }

    }
}

@keyframes outBgIntroHome {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes introHome {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.master-page {

    &.-home {
        >.content {
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;
            align-items: center;

            @media (min-width: $--mq-tablet) {
                align-items: flex-start;
                justify-content: space-between;
                padding: 7vh 0;
            }

            >.welcome-wrapper {
                display: flex;

                >.welcome,
                >span {
                    font-family: 'Playfair Display', serif;
                    font-size: calc(var(--font-size-base) + 30px);

                    @media (min-width: $--mq-tablet) {
                        padding-left: 50px;
                        font-size: calc(var(--font-size-base) + 40px);
                    }


                    @media (min-width: $--mq-medium-desktop) {
                        font-size: calc(var(--font-size-base) + 60px);
                    }

                    @media (min-width: $--mq-large-desktop) {
                        font-size: calc(var(--font-size-base) + 80px);
                    }
                }

                >span {
                    padding-left: 0;
                }
            }

            >.title {
                font-size: calc(var(--font-size-base) + 7px);
                color: white;
                width: 100%;
                text-align: center;
                padding: 25px 10px;
                background: #000000b8;

                @media (min-width: $--mq-tablet) {
                    font-size: calc(var(--font-size-base) + 5px);
                    width: auto;
                    text-align: left;
                    padding: 50px;
                }


                @media (min-width: $--mq-medium-desktop) {
                    font-size: calc(var(--font-size-base) + 10px);
                }



                @media (min-width: $--mq-large-desktop) {
                    font-size: calc(var(--font-size-base) + 20px);
                }
            }

            >.buttons-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-evenly;

                @media (min-width: $--mq-tablet) {
                    justify-content: space-between;
                    padding: 0px 50px;
                }

                >.btn {
                    border: none;
                    background: none;
                    border-radius: 50%;
                    height: 90px;
                    width: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;
                    box-shadow: 0px 6px 11px #0000001f;

                    @media (min-width: $--mq-tablet) {
                        box-shadow: none;
                        height: auto;
                        width: auto;
                        cursor: pointer;
                        position: relative;

                        &::before,
                        &::after {
                            content: "";
                            bottom: 0;
                            left: 0;
                            width: calc(100% - 25px);
                            height: 5px;
                            background: var(--color-primary);
                            position: absolute;
                            border-radius: 100px;
                        }

                        &::after {
                            width: 15px;
                            left: initial;
                            right: 0;
                        }

                    }

                    >.icon {
                        height: 30px;
                        margin-bottom: 5px;

                        >img {
                            height: 100%;
                        }

                        @media (min-width: $--mq-tablet) {
                            display: none;
                        }
                    }

                    >.text {
                        margin-top: 1px;
                        font-size: calc(var(--font-size-base) - 5px);
                        font-weight: 600;

                        @media (min-width: $--mq-tablet) {
                            font-family: 'Playfair Display', serif;
                            font-weight: 400;
                            font-size: calc(var(--font-size-base) + 40px);


                            &.-work,
                            &.-about-me {
                                position: relative;
                                z-index: 10;

                                &::before,
                                &::after {
                                    content: "work";
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    opacity: 0;
                                    transition: .2s;
                                    z-index: -1;
                                }

                                &:hover {
                                    &::before {
                                        opacity: 1;
                                        left: 2px;
                                        top: 2px;
                                        color: #ff0000;
                                    }

                                    &::after {
                                        opacity: 1;
                                        left: -2px;
                                        top: -2px;
                                        color: #00ffff;
                                    }
                                }
                            }

                            &.-about-me {
                                width: calc(100% + 4px);

                                &::before,
                                &::after {
                                    content: "about me";
                                }

                                &:hover {
                                    &::after {
                                        left: 1px;
                                        top: -3px;
                                    }

                                    &::before {
                                        left: 4px;
                                        top: 2px;
                                    }
                                }
                            }
                        }

                        @media (min-width: $--mq-medium-desktop) {
                            font-size: calc(var(--font-size-base) + 60px);
                        }

                        @media (min-width: $--mq-large-desktop) {
                            font-size: calc(var(--font-size-base) + 80px);
                        }
                    }
                }
            }
        }
    }
}