.master-page {
    &.-work {
        >.content {
            display: grid;
            padding-bottom: 10px;
            grid-template-rows: 55px 1fr;
            grid-gap: 15px;

            @media (min-width: $--mq-tablet) {
                grid-template-rows: 80px 1fr;
                grid-gap: 15px;
            }

            >.scrollable {
                overflow: auto;
                padding-right: 10px;
            }
        }
    }
}