.master-page {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 5px;
    background: url(../assets/img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(0px);
    transition: filter .5s;

    @media (min-width: $--mq-tablet) {
        background: #f6f6f6;
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0px;

        &.--with-background {
            background: url(../assets/img/bg.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    }

    &.-blur{
        filter: blur(5px);
    }

    >app-header {
        >.header {
            height: 100%;

            @media (min-width: $--mq-tablet) {
                display: flex;
                align-items: center;
                background: #f6f6f6;
                box-shadow: 0 0 15px #0000002e;
            }

            >.logo {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 30px;

                @media (min-width: $--mq-tablet) {
                    padding-top: 0;
                    max-height: 200px;
                }

                >.image {
                    height: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    >.content {}

    &.-with-menu {
        grid-template-rows: 80px 1fr;
        grid-gap: 10px;


        @media (min-width: $--mq-tablet) {
            grid-template-rows: 1fr;
            grid-gap: 0;
        }

        >app-header {
            >.header {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                box-shadow: 0 0 15px #00000029;
                position: relative;
                background: #f6f6f6;


                @media (min-width: $--mq-tablet) {
                    flex-flow: column;
                    justify-content: center;
                    background: url(../assets/img/bg-menu.jpg) no-repeat;
                    background-size: cover;

                    &.--aboutme {
                        background: url(../assets/img/bg-menu-aboutme.jpg) no-repeat;
                        background-size: cover;
                    }
                }

                &::after {
                    position: absolute;
                    bottom: -4px;
                    width: 100px;
                    left: calc(50% - 50px);
                    height: 3px;
                    background: var(--color-primary);
                    border-radius: 50px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    content: "";

                    @media (min-width: $--mq-tablet) {
                        left: initial;
                        right: -3px;
                        width: 4px;
                        height: 100px;
                        bottom: calc(50% - 50px);
                        border-radius: 0px 10px 10px 0;
                    }
                }

                >.logo {
                    padding: 0;
                    width: 55px;

                    @media (min-width: $--mq-tablet) {
                        width: 180px;
                        margin-bottom: 40px;
                    }

                    >.image {
                        width: 100%;
                    }
                }

                >.buttons-wrapper {
                    display: flex;

                    >.text {
                        transition: color .5s;
                        margin-left: 30px;

                        &.--active {
                            font-weight: 600;
                        }


                        @media (min-width: $--mq-tablet) {
                            cursor: pointer;
                            padding: 20px;
                            margin: 0;
                            font-size: var(--font-size-base);

                        }
                    }
                }

            }
        }


        >.content {
            overflow: auto;
            height: calc(100% -10px);
            padding: 0px 5px 10px 10px;
            margin: 5px 5px 5px 0;


            @media (min-width: $--mq-tablet) {
                height: calc(100% - 20px);
                padding: 30px 50px 50px 50px;
                margin: 10px 5px 10px 0;
            }
        }
    }
}