.section-title{
    font-family: 'Playfair Display', serif;
    font-size: calc(var(--font-size-base) + 25px);
    padding: 10px 0 20px;
    transition: color .5s;

    
    @media (min-width: $--mq-tablet) {
        font-size: calc(var(--font-size-base) + 45px);
    }

    >.blink{
        opacity: 0;
        animation: blink 1.3s infinite;
    }
}

@keyframes blink {
    0%{
        opacity: 0;
    }

    49%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    98%{
        opacity: 1;
    }

    99%{
        opacity: 0;
    }
}