.section-title {
    font-family: 'Playfair Display', serif;
    font-size: calc(var(--font-size-base) + 25px);
    padding: 10px 0 20px;
    transition: color .5s;
    display: flex;
    justify-content: space-between;


    @media (min-width: $--mq-tablet) {
        font-size: calc(var(--font-size-base) + 45px);
    }

    >.title {
        .blink {
            opacity: 0;
            animation: blink 1.3s infinite;
        }
    }

    >.icon{
        font-size: calc(var(--font-size-base) + 26px);
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }
}