<div class="home">
    <header class="logo">
        <div class="wrapper">
            <img class="image" src="http://placekitten.com/500/500">
        </div>
    </header>

    <section class="content">
        <h1 class="welcome">Bem Vindo_</h1>
        <div class="title">
            Where do you want to go?
        </div>

        <div class="buttons-wrapper">
            <button class="btn">
                <div class="icon">
                    <img src="http://placekitten.com/30/30">
                </div>
                <span class="text">work</span>
            </button>

            <button class="btn">
                <div class="icon">
                    <img src="http://placekitten.com/30/30">
                </div>
                <span class="text">about me</span>
            </button>
        </div>
    </section>
</div>