<div class="master-page -work -with-menu">
    <app-header menuActived="work" menu="show"></app-header>

    <section class="content">
        <h1 class="section-title">Work<span class="blink">_</span></h1>

        <div class="scrollable fadeInUp">
            <div class="grid">
                <a class="item first" target="_blank" href="https://vitortakara.github.io/portfolio-demos/site_app/dist/">
                    <img class="image" src="assets/img/bankapp.jpg">
                </a>

                <a class="item second" target="_blank" href="https://guiacovid19.com.br/#/home">
                    <img class="image" src="assets/img/guiacovid.jpg">
                </a>

                <a class="item third" target="_blank" href="https://vitortakara.github.io/lite-js-pattern/dist/">
                    <img class="image" src="assets/img/lite.jpg">
                </a>

                <a class="item fourth" target="_blank" href="https://github.com/VitorTakara/reduce-image">
                    <img class="image" src="assets/img/reduceimage.jpg">
                </a>

                <a class="item fifth" target="_blank" href="https://vitortakara.github.io/portfolio_deprecated/dist">
                    <img class="image" src="assets/img/portfolio2018.jpg">
                </a>
            </div>
        </div>
    </section>
</div>