$i: !important;

$sizes: 5,
10,
15,
20,
25,
30,
35,
40,
45,
50;

@each $size in $sizes {
    ._mr-#{$size} {
        margin-right: #{$size}px $i;
    }

    ._ml-#{$size} {
        margin-left: #{$size}px $i;
    }

    ._mt-#{$size} {
        margin-top: #{$size}px $i;
    }

    ._mb-#{$size} {
        margin-bottom: #{$size}px $i;
    }

    ._pr-#{$size} {
        padding-right: #{$size}px $i;
    }

    ._pl-#{$size} {
        padding-left: #{$size}px $i;
    }

    ._pt-#{$size} {
        padding-top: #{$size}px $i;
    }

    ._pb-#{$size} {
        padding-bottom: #{$size}px $i;
    }
}