<div class="master-page -work -with-menu">
    <header class="header">
        <div class="logo">
            <img class="image" src="assets/img/logo.png">
        </div>

        <div class="buttons-wrapper">
            <a class="text" onclick="setView(1)">Work</a>
            <a class="text --active" onclick="setView(2)">About me</a>
        </div>
    </header>

    <section class="content">
        <main class="about-me">
 
           
            <h1 class="section-title">About me_</h1>

            <div class="bio-habilities">
                <p>Hi, I'm 24 years old. I'm a front end developer since 2015, a designer since 2012 and also creative since 1995. I love tecnology and I'm always aspiring for new trends. <b>Everyday learning something new.</b></p>
                <div class="habilities-wrapper">
                    <app-chart value="98" chartName="html" color="#f16529" image="assets/icons/html.png"></app-chart>
                    <app-chart value="98" chartName="css" color="#29a8e0" image="assets/icons/css.png"></app-chart>
                    <app-chart value="95" chartName="js" color="#f0db4f" image="assets/icons/js.png"></app-chart>
                    <app-chart value="90" chartName="angular" color="#de032f" image="assets/icons/angular.png"></app-chart>
                    <app-chart value="85" chartName="vue" color="#41b883" image="assets/icons/vue.png"></app-chart>
                    <app-chart value="85" chartName="ps" color="#235ab6" image="assets/icons/ps.png"></app-chart>
                    <app-chart value="80" chartName="uiux" color="black" image="assets/icons/uiux.png"></app-chart>
                    <app-chart value="70" chartName="bootstrap" color="#6a429c" image="assets/icons/bootstrap.png"></app-chart>
                    <app-chart value="65" chartName="webpack" color="#1c78c0" image="assets/icons/webpack.png"></app-chart>
                    <app-chart value="60" chartName="react" color="#00d8ff" image="assets/icons/react.png"></app-chart>
                    <app-chart value="60" chartName="sass" color="#cc6699" image="assets/icons/sass.png"></app-chart>
                    <app-chart value="55" chartName="gulp" color="#ec494a" image="assets/icons/gulp.png"></app-chart>
                </div>
            </div>

            <div class="contact">
                <span class="text">Click to connect with me elsewhere</span>
                <div class="links">
                    <a>GitHub</a>
                    <a>Linkedin</a>
                    <a>Email</a>
                </div>
            </div>
            
        </main>
    </section>
</div>